@{ ViewData["Title"] = "ContactSummary"; }

<html>

<body>
    <br />
    <!--Sekcja wyświetlająca podsumowanie po cześniejszym uzupełnieniu danych przez użytkownika-->
    <div>
        <h3>Skontaktuj się ze mną pisząc na skrzynkę pocztową <b>gizmooos8@wp.pl</b> jako @ViewBag.userName</h3>
    </div>
    <hr />
</body>
</html>