@model List<MendelejewNsp.Models.ElementViewModel>

@{ ViewData["Title"] = "GetSemiConductors"; }
<html>
<body>
    @*Dekoracyjny pasek w kolorze odpowiadającym rodzajowi pierwiastka*@

    <div id="t_semi_conductor">
    </div>
    <p class="title_font">PÓŁPRZEWODNIKI</p>

    <hr>
    @*Pętla po każdym pierwiastku*@
    @foreach (var nonMetal in Model)
    {
        <span id="up">
            @nonMetal.AtomicNumber
        </span>
        <span id="down">
            @nonMetal.MassNumber
        </span>
        <span class="large_font">
            @nonMetal.ShortName
        </span>
        @*Link do szczegółów wybranego pierwiastka*@
        <li style="text-decoration: none; list-style-type: none;">
            <h1>@Html.ActionLink(nonMetal.Name, "GetElement", "Home", new { elementShotName = nonMetal.ShortName }, null)</h1>
        </li>
        <hr>
    }

</body>

</html>